@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .row {
    @apply grid grid-cols-5 gap-2;
  }

  .tile {
    @apply border-2 border-gray-300 aspect-square uppercase text-4xl font-bold flex justify-center items-center;
  }

  .key {
    @apply font-semibold flex justify-center items-center rounded bg-gray-200 py-4;
  }

  .current {
    @apply border-black;
  }

  .in-place {
    @apply bg-lime-600 text-white border-0;
  }

  .not-exists {
    @apply bg-gray-500 text-white border-0;
  }

  .exists {
    @apply bg-amber-400 text-white border-0;
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
